body {
  margin-left: 5%;
  margin-right: 5%;
}

.jumbotron {
  background-image: url("../img/banner.png");
  background-position: right;
}

h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #ffffff;
  opacity: 0.9;
  padding-top: 3%;
  padding-bottom: 3%;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 2%;
}

h4 {
  margin-top: 2%;
}

form {
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
}

button {
  font-size: 12px;
  margin-left: 2%;

}

.well {
  margin-bottom: 4%;
  background-color: #c9ced6;
}

#results {
  text-align: center;
}

.labels {
  font-weight: bold;
}




.list {
  display: none;
}

li {
  list-style-type: none;
}

p {
  text-align: center;
  margin-top: 4%;
}
